/* Modo Claro */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  transition: background-color 0.3s;

}

header h1 {
  color: #333;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

header a {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

header img {
  width: 150px;
  height: auto;
  filter: drop-shadow(0 0 5px #e0e0e0);
}

/* Modo Escuro */
body.modo-escuro header {
  background-color: #152828;
}

body.modo-escuro header h1 {
  color: #e0e0e0;
}

/* Responsividade */
@media (max-width: 1023px) {
  header {
    flex-direction: column;
  }
}
