/* Modo claro */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e0e0e0;
  width: 100%;
}

nav a {
  color: #e7e026;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 0 1.5rem;
  padding: 0.5rem 0;
  transition: color 0.3s ease, transform 0.3s ease; /* Transição mais rápida e suave */
}

nav a:hover {
  color: #ff0000;
  transform: scale(1.05); /* Substituído 'scale' para maior compatibilidade */
}

/* Modo escuro */
body.modo-escuro nav {
  background-color: #e0e0e0;
}