footer {
  background-color: #e8dddd;
  padding: 2rem 1rem;
  width: 47.9vw;
  /* Deixar o conteudo do container flexivel */
  display: flex;
  flex-direction: column;
  /*  Dar espaço */
  justify-content: space-between;
  align-items: center;
  /*  Quebrar linha */
  flex-wrap: wrap;
  /* Ajusta a distancia */
  gap: 2rem;
  margin-left: 25rem;
  border-radius: 20px;
  filter: opacity(85%);
  /* Distancia de baixo */
  margin-bottom: 10px;
}

footer a {
  color: #000000;
  text-decoration: none;
  /* muda a cor ao passar o mouse por cima */
  transition: color 0.3s ease;
}

footer img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

footer p {
  color: #000000;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

footer strong {
  color: #000000;
  font-weight: 600;
}

footer div > div {
  margin-bottom: 1rem;
}

footer h3 {
  color: #000000;
}

footer li {
  color: #000000;
}

.links {
  display: flex;
  flex-direction: column;
}

.lado-a-lado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.copyright {
  font-style: italic;
}

.logo{
  width: 15rem;
  height: auto;
  border-radius: 50%;
}